<?xml version="1.0" encoding="UTF-8"?>
<settings xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd" xmlns="http://maven.apache.org/SETTINGS/1.1.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <localRepository>/opt/jboss/.m2/repository</localRepository>
  <servers>
  </servers>
  <profiles>
    <profile>
      <properties>
        <maven.deploy.updateReleaseInfo>false</maven.deploy.updateReleaseInfo>
      </properties>
      <id>development</id>
    </profile>
    <profile>
      <repositories>
        <repository>
          <releases>
            <updatePolicy>never</updatePolicy>
          </releases>
          <snapshots>
            <updatePolicy>never</updatePolicy>
          </snapshots>
          <id>jboss-eap-6.0.0-repository</id>
          <name>JBoss EAP 6.0.0 Maven Repository</name>
          <url>file:///Users/ddoyle/.m2/jboss-eap-6.0.0-maven-repository</url>
        </repository>
      </repositories>
      <id>jboss-eap-6.0.0-repository</id>
    </profile>
    <profile>
      <repositories>
        <repository>
          <releases>
            <updatePolicy>never</updatePolicy>
          </releases>
          <snapshots>
            <updatePolicy>never</updatePolicy>
          </snapshots>
          <id>jboss-eap-6.0.1-repository</id>
          <name>JBoss EAP 6.0.1 Maven Repository</name>
          <url>file:///Users/ddoyle/.m2/jboss-eap-6.0.1-maven-repository</url>
        </repository>
      </repositories>
      <id>jboss-eap-6.0.1-repository</id>
    </profile>
    <profile>
      <repositories>
        <repository>
          <releases>
            <updatePolicy>never</updatePolicy>
          </releases>
          <snapshots>
            <updatePolicy>never</updatePolicy>
          </snapshots>
          <id>jboss-eap-6.1.0.GA-repository</id>
          <name>JBoss EAP 6.1.0 Maven Repository</name>
          <url>file:///Users/ddoyle/.m2/jboss-eap-6.1.0.GA-maven-repository</url>
        </repository>
      </repositories>
      <id>jboss-eap-6.1.0.GA-repository</id>
    </profile>
    <profile>
      <repositories>
        <repository>
          <releases>
            <updatePolicy>never</updatePolicy>
          </releases>
          <snapshots>
            <updatePolicy>never</updatePolicy>
          </snapshots>
          <id>jboss-eap-6.1.1.GA-repository</id>
          <name>JBoss EAP 6.1.1 Maven Repository</name>
          <url>file:///Users/ddoyle/.m2/jboss-eap-6.1.1.GA-maven-repository</url>
        </repository>
      </repositories>
      <id>jboss-eap-6.1.1.GA-repository</id>
    </profile>
    <profile>
      <repositories>
        <repository>
          <releases>
            <updatePolicy>never</updatePolicy>
          </releases>
          <snapshots>
            <updatePolicy>never</updatePolicy>
          </snapshots>
          <id>jboss-eap-6.1.3.GA-repository</id>
          <name>JBoss EAP 6.1.3 Maven Repository</name>
          <url>file:///Users/ddoyle/.m2/jboss-eap-6.1.3.GA-maven-repository</url>
        </repository>
      </repositories>
      <id>jboss-eap-6.1.3.GA-repository</id>
    </profile>
    <profile>
      <repositories>
        <repository>
          <releases>
            <updatePolicy>never</updatePolicy>
          </releases>
          <snapshots>
            <updatePolicy>never</updatePolicy>
          </snapshots>
          <id>jboss-eap-6.2.0.GA-repository</id>
          <name>JBoss EAP 6.2.0.GA Maven Repository</name>
          <url>file:///Users/ddoyle/.m2/jboss-eap-6.2.0.GA-maven-repository</url>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <releases />
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>jboss-eap-plugin-repository</id>
          <url>file:///Users/ddoyle/.m2/jboss-eap-6.2.0.GA-maven-repository</url>
        </pluginRepository>
      </pluginRepositories>
      <id>jboss-eap-6.2.0.GA-repository</id>
    </profile>
    <profile>
      <repositories>
        <repository>
          <releases>
            <updatePolicy>never</updatePolicy>
          </releases>
          <snapshots>
            <updatePolicy>never</updatePolicy>
          </snapshots>
          <id>jboss-eap-6.3.0.GA-repository</id>
          <name>JBoss EAP 6.3.0.GA Maven Repository</name>
          <url>file:///Users/ddoyle/.m2/jboss-eap-6.3.0.GA-maven-repository</url>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <releases />
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>jboss-eap-plugin-repository</id>
          <url>file:///Users/ddoyle/.m2/jboss-eap-6.3.0.GA-maven-repository</url>
        </pluginRepository>
      </pluginRepositories>
      <id>jboss-eap-6.3.0.GA-repository</id>
    </profile>
    <profile>
      <repositories>
        <repository>
          <releases>
            <updatePolicy>never</updatePolicy>
          </releases>
          <snapshots>
            <updatePolicy>never</updatePolicy>
          </snapshots>
          <id>jboss-eap-6.4.0.GA-repository</id>
          <name>JBoss EAP 6.4.0.GA Maven Repository</name>
          <url>file:///Users/ddoyle/.m2/jboss-eap-6.4.0.GA-maven-repository</url>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <releases />
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>jboss-eap-plugin-repository</id>
          <url>file:///Users/ddoyle/.m2/jboss-eap-6.4.0.GA-maven-repository</url>
        </pluginRepository>
      </pluginRepositories>
      <id>jboss-eap-6.4.0.GA-repository</id>
    </profile>
    <profile>
      <repositories>
        <repository>
          <releases>
            <updatePolicy>never</updatePolicy>
          </releases>
          <snapshots>
            <updatePolicy>never</updatePolicy>
          </snapshots>
          <id>jboss-datagrid-6.2.1-repository</id>
          <name>JBoss DataGrid 6.2.1 Maven Repository</name>
          <url>file:///Users/ddoyle/.m2/jboss-datagrid-6.2.1-maven-repository</url>
        </repository>
      </repositories>
      <id>jboss-datagrid-6.2.1.GA-repository</id>
    </profile>
    <profile>
      <repositories>
        <repository>
          <releases>
            <updatePolicy>never</updatePolicy>
          </releases>
          <snapshots>
            <updatePolicy>never</updatePolicy>
          </snapshots>
          <id>jboss-datagrid-6.3.0-repository</id>
          <name>JBoss DataGrid 6.3.0 Maven Repository</name>
          <url>file:///Users/ddoyle/.m2/jboss-datagrid-6.3.0-maven-repository</url>
        </repository>
      </repositories>
      <id>jboss-datagrid-6.3.0.GA-repository</id>
    </profile>
    <profile>
      <repositories>
        <repository>
          <releases>
            <updatePolicy>never</updatePolicy>
          </releases>
          <snapshots>
            <updatePolicy>never</updatePolicy>
          </snapshots>
          <id>jboss-datagrid-6.4.0-repository</id>
          <name>JBoss DataGrid 6.4.0 Maven Repository</name>
          <url>file:///Users/ddoyle/.m2/jboss-datagrid-6.4.0-maven-repository</url>
        </repository>
      </repositories>
      <id>jboss-datagrid-6.4.0.GA-repository</id>
    </profile>
    <profile>
      <repositories>
        <repository>
          <releases>
            <updatePolicy>never</updatePolicy>
          </releases>
          <snapshots>
            <updatePolicy>never</updatePolicy>
          </snapshots>
          <id>jboss-datagrid-6.5.1-repository</id>
          <name>JBoss DataGrid 6.5.1 Maven Repository</name>
          <url>file:///Users/ddoyle/.m2/jboss-datagrid-6.5.1-maven-repository</url>
        </repository>
      </repositories>
      <id>jboss-datagrid-6.5.1.GA-repository</id>
    </profile>
    <profile>
      <repositories>
        <repository>
          <releases>
            <updatePolicy>never</updatePolicy>
          </releases>
          <snapshots>
            <updatePolicy>never</updatePolicy>
          </snapshots>
          <id>bpms-brms-6.0.2.GA-redhat-5-repository</id>
          <name>JBoss BPMS/BRMS 6.0.2.GA Maven Repository</name>
          <url>file:///Users/ddoyle/.m2/bpms-brms-6.0.2.GA-redhat-5-maven-repository/maven-repository</url>
        </repository>
      </repositories>
      <id>bpms-brms-6.0.2.GA-redhat-5-repository</id>
    </profile>
    <profile>
      <repositories>
        <repository>
          <releases>
            <updatePolicy>never</updatePolicy>
          </releases>
          <snapshots>
            <updatePolicy>never</updatePolicy>
          </snapshots>
          <id>bpms-brms-6.0.3.GA-redhat-5-repository</id>
          <name>JBoss BPMS/BRMS 6.0.3.GA Maven Repository</name>
          <url>file:///Users/ddoyle/.m2/jboss-bpms-brms-6.0.3.GA-redhat-1-maven-repository/maven-repository</url>
        </repository>
      </repositories>
      <id>jboss-bpms-brms-6.0.3.GA-redhat-1-maven-repository</id>
    </profile>
    <profile>
      <repositories>
        <repository>
          <releases>
            <updatePolicy>never</updatePolicy>
          </releases>
          <snapshots>
            <updatePolicy>never</updatePolicy>
          </snapshots>
          <id>bpms-brms-6.1.0.GA-redhat-2-repository</id>
          <name>JBoss BPMS/BRMS 6.1.0.GA Maven Repository</name>
          <url>file:///Users/ddoyle/.m2/jboss-brms-bpmsuite-6.1.0.GA-redhat-2-maven-repository/maven-repository</url>
        </repository>
      </repositories>
      <id>jboss-brms-bpmsuite-6.1.0.GA-redhat-2-maven-repository</id>
    </profile>
    <profile>
      <repositories>
        <repository>
          <releases>
            <updatePolicy>never</updatePolicy>
          </releases>
          <snapshots>
            <updatePolicy>never</updatePolicy>
          </snapshots>
          <id>bpms-brms-6.1.1.GA-incremental-repository</id>
          <name>JBoss BPMS/BRMS 6.1.1.GA Incremental Maven Repository</name>
          <url>file:///Users/ddoyle/.m2/jboss-brms-bpmsuite-6.1.1.GA-incremental-maven-repository</url>
        </repository>
      </repositories>
      <id>jboss-brms-bpmsuite-6.1.1.GA-incremental-maven-repository</id>
    </profile>
    <profile>
      <repositories>
        <repository>
          <releases>
            <updatePolicy>never</updatePolicy>
          </releases>
          <snapshots>
            <updatePolicy>never</updatePolicy>
          </snapshots>
          <id>bpms-brms-6.2.0.GA-repository</id>
          <name>JBoss BPMS/BRMS 6.1.0.GA Maven Repository</name>
          <url>file:///opt/jboss/.m2/jboss-brms-bpmsuite-6.2.0.GA-maven-repository/maven-repository</url>
        </repository>
      </repositories>
      <id>jboss-brms-bpmsuite-6.2.0.GA-maven-repository</id>
    </profile>
    <profile>
      <repositories>
        <repository>
          <releases>
            <updatePolicy>never</updatePolicy>
          </releases>
          <snapshots>
            <updatePolicy>never</updatePolicy>
          </snapshots>
          <id>fsw-6.0.0.GA-redhat-2-repository</id>
          <name>JBoss FSW 6.0.0.GA Maven Repository</name>
          <url>file:///Users/ddoyle/.m2/fsw-6.0.0.GA-redhat-2-repository</url>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <releases>
            <updatePolicy>never</updatePolicy>
          </releases>
          <snapshots>
            <updatePolicy>never</updatePolicy>
          </snapshots>
          <id>fsw-6.0.0.GA-redhat-2-plugin-repository</id>
          <name>JBoss FSW 6.0.0.GA Maven Repository</name>
          <url>file:///Users/ddoyle/.m2/fsw-6.0.0.GA-redhat-2-repository</url>
        </pluginRepository>
      </pluginRepositories>
      <id>fsw-6.0.0.GA-redhat-2-repository</id>
    </profile>
    <profile>
      <repositories>
        <repository>
          <releases>
            <updatePolicy>never</updatePolicy>
          </releases>
          <snapshots>
            <updatePolicy>never</updatePolicy>
          </snapshots>
          <id>jboss-wfk-2.4.0-maven-repository</id>
          <name>JBoss WFK 2.4.0 Maven Repository</name>
          <url>file:///Users/ddoyle/.m2/jboss-wfk-2.4.0-maven-repository</url>
        </repository>
      </repositories>
      <id>jboss-wfk-2.4.0-maven-repository</id>
    </profile>
    <profile>
      <repositories>
        <repository>
          <releases>
            <updatePolicy>never</updatePolicy>
          </releases>
          <snapshots>
            <updatePolicy>never</updatePolicy>
          </snapshots>
          <id>ip-supplementary-bom-1.0-redhat-1-repository</id>
          <name>JBoss IP Supplementary BOM 1.0-redhat-1 repository.</name>
          <url>file:///Users/ddoyle/.m2/ip-supplementary-bom-1.0-redhat-1</url>
        </repository>
      </repositories>
      <id>ip-supplementary-bom-1.0-redhat-1-repository</id>
    </profile>
    <profile>
      <repositories>
        <repository>
          <releases>
            <updatePolicy>never</updatePolicy>
          </releases>
          <snapshots>
            <updatePolicy>always</updatePolicy>
          </snapshots>
          <id>jboss-public-repository-group</id>
          <name>JBoss Public Maven Repository Group</name>
          <url>https://repository.jboss.org/nexus/content/groups/public</url>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <releases />
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>jboss-public-plugin-repository-group</id>
          <url>https://repository.jboss.org/nexus/content/groups/public</url>
        </pluginRepository>
      </pluginRepositories>
      <id>jboss-public-repository</id>
    </profile>
    <profile>
      <repositories>
        <repository>
          <releases>
            <updatePolicy>never</updatePolicy>
          </releases>
          <snapshots>
            <updatePolicy>always</updatePolicy>
          </snapshots>
          <id>fusesouce-public-repository-group</id>
          <name>FuseSource Public Maven Repository Group</name>
          <url>https://repository.jboss.org/nexus/content/groups/fs-public/</url>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <releases>
            <updatePolicy>never</updatePolicy>
          </releases>
          <snapshots>
            <updatePolicy>always</updatePolicy>
          </snapshots>
          <id>fusesouce-public-plugin-repository-group</id>
          <name>FuseSource Public Maven Repository Group</name>
          <url>https://repository.jboss.org/nexus/content/groups/fs-public/</url>
        </pluginRepository>
      </pluginRepositories>
      <id>fuse-public-repository</id>
    </profile>
    <profile>
      <repositories>
        <repository>
          <releases />
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>redhat-techpreview-all-repository</id>
          <url>http://maven.repository.redhat.com/techpreview/all/</url>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <releases />
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>redhat-techpreview-all-repository</id>
          <url>http://maven.repository.redhat.com/techpreview/all/</url>
        </pluginRepository>
      </pluginRepositories>
      <id>redhat-techpreview-repository</id>
    </profile>
    <profile>
      <repositories>
        <repository>
          <releases>
            <updatePolicy>never</updatePolicy>
          </releases>
          <snapshots>
            <updatePolicy>always</updatePolicy>
          </snapshots>
          <id>nexus-docker-repository</id>
          <url>http://docker:48081/nexus/content/groups/public/</url>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <releases>
            <updatePolicy>never</updatePolicy>
          </releases>
          <snapshots>
            <updatePolicy>always</updatePolicy>
          </snapshots>
          <id>nexus-docker-plugin-repository</id>
          <url>http://docker:48081/nexus/content/groups/public/</url>
        </pluginRepository>
      </pluginRepositories>
      <id>nexus-docker</id>
    </profile>
  </profiles>
  <activeProfiles>
<!--
    <activeProfile>jboss-eap-6.0.0-repository</activeProfile>
    <activeProfile>jboss-eap-6.0.1-repository</activeProfile>
    <activeProfile>jboss-eap-6.1.0.GA-repository</activeProfile>
    <activeProfile>jboss-eap-6.1.1.GA-repository</activeProfile>
    <activeProfile>jboss-eap-6.1.3.GA-repository</activeProfile>
    <activeProfile>jboss-eap-6.2.0.GA-repository</activeProfile>
    <activeProfile>jboss-eap-6.3.0.GA-repository</activeProfile>
    <activeProfile>jboss-eap-6.4.0.GA-repository</activeProfile>
    <activeProfile>jboss-datagrid-6.2.1.GA-repository</activeProfile>
    <activeProfile>jboss-datagrid-6.3.0.GA-repository</activeProfile>
    <activeProfile>jboss-datagrid-6.4.0.GA-repository</activeProfile>
    <activeProfile>jboss-datagrid-6.5.1.GA-repository</activeProfile>
    <activeProfile>bpms-brms-6.0.2.GA-redhat-5-repository</activeProfile>
    <activeProfile>jboss-bpms-brms-6.0.3.GA-redhat-1-maven-repository</activeProfile>
    <activeProfile>jboss-brms-bpmsuite-6.1.0.GA-redhat-2-maven-repository</activeProfile>
    <activeProfile>jboss-brms-bpmsuite-6.1.1.GA-incremental-maven-repository</activeProfile>
-->
    <activeProfile>jboss-brms-bpmsuite-6.2.0.GA-maven-repository</activeProfile>
<!--
    <activeProfile>fsw-6.0.0.GA-redhat-2-repository</activeProfile>
    <activeProfile>jboss-wfk-2.4.0-maven-repository</activeProfile>
    <activeProfile>ip-supplementary-bom-1.0-redhat-1-repository</activeProfile>
-->
    <activeProfile>jboss-public-repository</activeProfile>
    <activeProfile>fuse-public-repository</activeProfile>
<!--
    <activeProfile>redhat-techpreview-repository</activeProfile>
-->
  </activeProfiles>
  <pluginGroups>
    <pluginGroup>org.apache.maven.plugins</pluginGroup>
    <pluginGroup>org.codehaus.mojo</pluginGroup>
  </pluginGroups>
</settings>
